@import '../../../style/variables.scss';

.footer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  padding: 2rem 1rem 1rem;
  background-color: $secondary-color;
  text-align: center;
  will-change: transform;

  .inner {
    display: inline-block;
    vertical-align: top;
    padding: 0 2rem 2rem;
    text-align: left;

    @media screen and (max-width: $mobile-landscape) {
      padding: 0 1rem 1rem;
    }
  }

  .title {
    font-weight: normal;
    font-size: 1rem;
    color: $primary-color;
  }

  .list {
    margin-top: .25rem;
    list-style-type: none;
  }

  .item {
    display: block;
  }

  .link {
    padding: .75vh 0;
    font-size: .75rem;
    color: $primary-color;
  }

  .copy {
    text-align: center;
    font-size: .75rem;
  }
}