@import '../../../style/variables.scss';

.history {
  position: relative;
  z-index: 2;
  padding: 12vh 1rem;
  background-color: $primary-color;
  
  .title {
    text-align: center;
    font-weight: normal;
    line-height: 3rem;
    font-size: 3rem;
    color: $secondary-color;
    opacity: 0;
    will-change: opacity;
  }

  .description {
    max-width: 700px;
    width: 100%;
    margin: 3rem auto 0;
    text-align: center;

    p {
      margin-top: 1rem;
      line-height: 2rem;
      font-size: 1.5rem;
      color: $secondary-color;
      opacity: 0;
      will-change: opacity;
    }
  }

  &.actived {

    .title,
    .description p {
      transition: opacity .4s $easeInOutCirc;
      opacity: 1;
    }

    .title {
      transition-delay: .25s;
    }

    @for $i from 1 through 4 {
      .description :nth-child(#{$i}) {
        transition-delay: calc($i*100ms + 400ms);
      }
    }
  }
}