@import '../../../../style/variables.scss';

.item {
  display: flex;
  align-items: center;
  padding: .5rem;

  div {
    position: relative;
    width: 20rem;
    height: 34rem;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: .3;
  }

  button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: transparent;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $primary-font;
    font-size: 3rem;
    color: $primary-color;
  }
}