@import '../../../style/variables.scss';

.arrow {
  position: absolute;
  bottom: 0;
  right: 1.5rem;
  z-index: 4;
  width: 30px;
  height: 100px;
  transform: translateY(-50%) translateZ(0);
  overflow: hidden;
  animation: Arrow 3.5s infinite;
  will-change: transform;

  div {
    position: absolute;
    bottom: 12px;
    left: 4px;
    animation: Line 3.5s infinite;
    will-change: transform;

    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border-bottom: 1px solid $primary-color;
      border-left: 1px solid $primary-color;
      transform: rotate(-45deg);
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 14px;
    top: 0;
    height: 90px;
    width: 1px;
    background-color: $primary-color;
    transform: translateY(-100px);
    animation: Line 3.5s infinite;
    will-change: transform;
  }
}

@keyframes Arrow {
  0% { transform: translateY(-50%) translateZ(0) }
  35% { transform: translateY(0%) translateZ(0) }
  36% { transform: translateY(0%) translateZ(0) }
  71% { transform: translateY(50%) translateZ(0) }
  100% { transform: translateY(50%) translateZ(0) }
}

@keyframes Line {
  0% { transform: translateY(-100px) translateZ(0) }
  35% { transform: translateY(0) translateZ(0) }
  36% { transform: translateY(0) translateZ(0) }
  71% { transform: translateY(100px) translateZ(0) }
  100% { transform: translateY(100px) translateZ(0) }
}