@import '../../../style/variables.scss';

// $ids: 2, 5, 8;
// $times: .45s, .35s, .55s;

.promote {
  position: relative;
  z-index: 2;
  padding: 12vh 0;
  background-color: $primary-color;

  .title {
    max-width: 46rem;
    width: 100%;
    margin: 0 auto;
    line-height: 1.1;
    text-align: center;
    font-size: 4rem;
    color: $secondary-color;

    @media screen and (max-width: $tablet-portrait) {
      max-width: 35rem;
      font-size: 3rem;
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 .5rem;

    @media screen and (max-width: $tablet-portrait) {
      margin: 0 .25rem;
    }
  }

  span span {
    width: 20px;
    height: 1px;
    margin: 0 0 0 1rem;
    position: relative;
    transition: width 1s $easeOutExpo;
    will-change: width;

    @media screen and (max-width: $tablet-portrait) {
      margin: 0 0 0 .25rem;
    }
  }

  em {
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transition: opacity 1s $easeOutExpo 0s, transform 1s $easeOutExpo 0s;
    transform: scale(0.5);
    opacity: 0;
    background-position: center;
    background-size: cover;
    will-change: opacity, transform;

    @media screen and (max-width: $tablet-portrait) {
      width: 60px;
      height: 60px;
      margin: -30px 0 0 -30px;
    }
  }

  &.actived {
        
    span span {
      width: 80px;

      @media screen and (max-width: $mobile-landscape) {
        width: 60px;
      }
    }

    // @for $i from 1 through length($ids) {
    //   $id: nth-of-type($ids, $i);
    //   $times: nth-of-type($times, $i);

    //   span:#{$id} span {
    //     transition-delay: $times;
    //   }
    // }

    span:nth-of-type(2) span {
      transition-delay: .45s;
    }
    
    span:nth-of-type(5) span {
      transition-delay: .35s;
    }

    span:nth-of-type(8) span {
      transition-delay: .55s;
    }

    em {
      transform: scale(1);
      opacity: 1;
    }

    // @for $i from 1 through length($ids) {
    //   $id: nth-of-type($ids, $i);
    //   $times: nth-of-type($times, $i);

    //   span:#{$id} em {
    //     transition-delay: $times;
    //   }
    // }

    span:nth-of-type(2) em {
      transition-delay: .45s;
    }
    
    span:nth-of-type(5) em {
      transition-delay: .35s;
    }

    span:nth-of-type(8) em {
      transition-delay: .55s;
    }
  }
}