@import '../../../style/variables.scss';

.collection-list {
  position: relative;
  z-index: 2;
  background-color: $secondary-color;

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 85rem;
    width: 100%;
    margin: 0 auto;
    padding: .5rem;

    @media screen and (max-width: $desktop) {
      max-width: 61rem;
    }
  }
}