$line-height: 1.5rem;
$font-size: 1rem;
$primary-font: "SansText-Light", serif;
$primary-color: #1b1b1b;
$secondary-color: #fff;
$tertiary-color: #b30078;
$forty-color: #4ed5e9;
$easeOutExpo: cubic-bezier(.16, 1, .22, 1);
$easeOutQuart: cubic-bezier(.85, 0, .15, 1);
$easeInOutCirc: cubic-bezier(.43, .195, .02, 1);
$wide: 2049px; // 2048+1
$desktop: 1281px; // 1280+1
$tablet-landscape: 1025px; // 1024+1
$tablet-portrait: 769px; // 768+1
$mobile-landscape: 541px; // 540+1
$mobile-portrait: 376px; // 375+1