@import '../../../style/variables.scss';

.product-list {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: $secondary-color;

  .button {
    display: block;
    width: calc(100% - 2rem);
    margin: 1rem auto 0;
    padding: 1rem;
    background-color: $primary-color;
    border: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $primary-font;
    font-size: 1rem;
    color: $secondary-color;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 61rem;
    width: 100%;
    margin: 0 auto;
    padding: .5rem;
  }

  .item {
    width: 20rem;
    height: 40rem;

    @media screen and (max-width: $mobile-portrait) {
      width: 100%;
    }

    &_new {
      position: absolute;
      top: .5rem;
      right: .5rem;
      z-index: 2;
      font-size: .75rem;
      line-height: .75rem;
    }
  
    &_figcaption {
      padding: 1rem 0 0;

      strong {
        font-size: 1.5rem;
      }

      p {
        padding: .5rem 0 1rem;
      }
    }
  
    &_button {
      padding: 1rem;
      font-size: 1rem;
    }
  }
}