@import '../../../../style/variables.scss';

.item {
  display: inline-block;
  vertical-align: top;
}

.button {
  display: block;
  padding: .5rem .75rem;
  background-color: transparent;
  border: 0;
  text-align: left;
  text-transform: uppercase;
  font-family: $primary-font;
  font-size: 1rem;
  color: $primary-color;

  &.actived {
    background-color: $primary-color;
    color: $secondary-color;
  }
}